input:focus {
    outline: none;
    border: none;
}
*{
    margin: 0px;
    padding: 0px;
}
.navbar-nav a{
    /* font-size: 20px; */
}
.slider{
    background-image: url(images/v904-nunny-012\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.slider-content{
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}
.slider-text{
    text-align: left;
}
.slider-img1{
    width: 50%;
}

.slider-img2{
    width: 500px;
    height: 500px;
}
/* .left-side .top{
    border: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    gap: 10px;
}
.left-side .bottom{
    border: 3px solid red;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    gap: 10px;
}
.right-side{
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    gap: 10px;
}
.left-text{
    text-align: center
} */
.category-page{
    padding: 20px;
}
.category{
    /* border: 1px solid grey; */
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    gap: 20px;
}
.category-top-div{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 350px;
}
.category-bottom-div
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 30px;
}
body {
    margin: 0;
    overflow: visible;
}
.category-item
{
    border: 1px solid grey;
    border-radius: 5px;
    width: 130px;
    height: 130px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-link{
    list-style: none;
}
.card{
    position: relative;
}
.fa-heart{
    position: absolute;
    top: 10px;
    right: 10px;
}
.card-img-top
{
    margin-top: 50px;
}
.mid-content
{
    padding-left: 50px;
    padding-right: 50px;
}
.footer-services li{
    list-style: none;
    color: white;
}
.footer-assis li{
    list-style: none;
    color: white;
}